---
import "@/styles/global.css";
import ArrowForwardIcon from "@/assets/icons/arrow-forward.svg";
import type { CollectionEntry } from "astro:content";

// using Interface for type checking is neat
// I should use this elsewhere
interface Props {
  projectData: CollectionEntry<"projects">;
}
const { projectData } = Astro.props;
---

<li
  class="project-card p-4 rounded-lg w-full max-w-sm group mx-2 my-4 sm:max-w-md"
>
  <a href={`/projects/${projectData.id}`} data-astro-prefetch>
    <div class="object-contain rounded-lg overflow-hidden">
      <img
        src={projectData.data.thumbnail}
        alt={projectData.data.title}
        class="w-full h-48 sm:h-64 object-cover transform transition-transform duration-300 ease-out group-hover:scale-103"
      />
    </div>

    <div class="text-left">
      <h3 class="pt-4 flex items-center">
        <span class="font-space-grotesk font-bold text-xl mr-2 project-title"
          >{projectData.data.title}</span
        >

        <ArrowForwardIcon
          class="w-4 text-slate-500 group-hover:translate-x-1 group-active:translate-x-1 transition duration-200"
        />
      </h3>
      <p class="pt-0.5">{projectData.data.description}</p>
      <div
        class="flex flex-wrap text-xs gap-2 py-1.5 text-slate-500 group-hover:text-text group-active:text-text transition duration-200"
      >
        {
          projectData.data.technologies.map((tech: any) => (
            <div class="whitespace-nowrap">{tech}</div>
          ))
        }
      </div>
    </div>
  </a>
</li>

<style>
  @reference "@/styles/global.css";

  @property --startColor {
    syntax: "<color>";
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
  }

  @property --endColor {
    syntax: "<color>";
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
  }

  .project-card {
    @apply transition ease-in duration-200;
    background: linear-gradient(var(--startColor), var(--endColor));
    transition:
      --startColor 500ms,
      --endColor 500ms;
  }

  .project-card:hover {
    cursor: pointer;
    --startColor: rgba(220, 255, 249, 0.1);
    --endColor: rgb(200, 253, 244);
  }

  .project-card:active {
    --startColor: rgba(220, 255, 249, 0.1);
    --endColor: rgb(200, 253, 244);
  }

  .project-title {
    @apply relative transition duration-150;
  }

  .project-title::after {
    @apply bg-text;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    max-height: 1px;
    bottom: 0px;
    left: 0;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }

  li:hover .project-title::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
